<section class="education container">
<div class="row">
  <div class="col-md-6">
    <div *ngFor ="let ed of education">
      <img [src]="ed.images[0]?.location" height="50px">
       <h2>{{ed.title}}</h2>
      <h4>{{ed.school}}</h4>
      <h5>{{ed.course}}</h5>
      <p>{{ed.desc}}</p>
    </div>
  </div>
  <div class="col-md-6">
    <div *ngFor ="let wr of work">
        <img [src]="wr.images[0]?.location" height="50px">
      <h3>{{wr.company}}</h3>
      <h4>{{wr.position}}</h4>
      <p>{{wr.desc}}</p>
    </div>
  </div>
</div>
</section>
