.item-display{
    margin-top: 20px;
    width: 100%;
    margin: 0 auto;
    background-color: aqua;
}

.item-display div{
  float: left;
}
.item-display div button{
    display: list-item;

}
.details {
    margin-left: 20px;
}
.add{
    clear: left;
    margin-top: 20px;
}
.add button{
    margin-top: 20px;
}