<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" />

<mat-toolbar>

  <div class="container">
<div class="contacts pull-left">
     <fa name="envelope"></fa> <span>rubin@sstech.co.ke</span>
     <fa name="phone" ></fa> <span>0728661660</span>
    </div>

    <div class=" social pull-right">
      <a href="#"><fa name="github" size="1x"></fa></a>
       <a href="#"><fa name="twitter" size="1x"></fa></a>
       <a href="#"><fa name="linkedin" size="1x"></fa></a>
    </div>


  </div>

</mat-toolbar>

