/* @import url("//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css"); */

mat-toolbar{
  background-color:  #ffd556;
  color: white;
  display: block;

  font-size: 16px;
  padding: 10px 10px;
}
mat-toolbar span{
  margin-left: 8px;
}
.btn-light{
  background-color: transparent;
  font-size: 1pc;
  color: white;
}
.contacts span{
  font-size: 15px;
}
.social a{
  margin: 4px;
}