<div class="contacts">
  <div class="container"> 
    <p>Talk to me:</p>
    <form>
        <div class="row">
          <div class="col">
            <label>First name</label>
            <input type="text" class="form-control" placeholder="First name">
          </div>
          <div class="col">
            <label>Last name</label>
            <input type="text" class="form-control" placeholder="Last name">
          </div>
        </div>
        <div>
          <label>Email</label>
         <input type="text" class="form-control" placeholder="sample@sample.com">
        </div>
        <div>
            <label>Message</label>
           <textarea type="text" class="form-control" placeholder="message" rows="3"></textarea>
          </div>
          <button class="btn btn-light">Submit</button>
      </form>
    </div> 
</div>
